# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\jakub\OneDrive\Pulpit\NAI_Project_Perceptron2_s20540\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
